* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6ecf0;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.search {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
}
.search-title {
  color: #949cdf;
  font-size: 4rem;
  text-align: center;
}
form {
  background-color: #c3aed6;
  border-radius: 4px;
  width: 90%;
  max-width: 500px;
  height: 40px;
  margin: 20px auto;
}
form input {
  width: 90%;
  height: 40px;
  color: white;
  border-style: none;
  background-color: transparent;
  font-size: 2rem;
}
form i {
  size: 50px;
  font-size: 20px;
  background-color: #c3aed6;
  color: white;
  padding-top: 10px;
}
.greeting {
  text-align: center;
  font-size: 3rem;
  color: #cd5d7d;
  margin: 10px auto;
  padding: 10px;
}
.search-result {
  margin-top: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template: auto / repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}
.recipe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe-title {
  color: #15b7b9;
  font-size: 1.3rem;
}
.recipe-container a {
  text-decoration: none;
  color: #3490de;
}
